*.gem
*.rbc
.bundle
.config
.tramp_history
coverage
InstalledFiles
lib/bundler/man
pkg
rdoc
spec/reports
test/tmp
test/version_tmp
*~
# YARD artifacts
.yardoc
_yardoc
doc/
basic-image-ingest-alpo
basic-image-ingest-romeo
config*yml*
ingest.org
junk/
sample-data/
sample-metadata/
src/
\#*\#
\.#*
