<VirtualHost *:80>
    ServerName SHORTNAME.admin.digital.flvc.org
    Redirect permanent / https://SHORTNAME.admin.digital.flvc.org/
</VirtualHost>

<VirtualHost *:443>
    ServerName SHORTNAME.admin.digital.flvc.org
    ProxyPreserveHost On
    ProxyRequests Off
    ProxyTimeout 14400
    <Proxy balancer://SHORTNAME_UNDERSCORED_admin_servers>
        BalancerMember http://127.0.0.1:PORTA
        BalancerMember http://127.0.0.1:PORTB
    </Proxy>
    ProxyPass / balancer://SHORTNAME_UNDERSCORED_admin_servers/
    ProxyPassReverse / balancer://SHORTNAME_UNDERSCORED_admin_servers/

    SSLEngine on
    SSLProtocol all -SSLv2
    SSLCipherSuite ALL:!ADH:!EXPORT:!SSLv2:RC4+RSA:+HIGH:+MEDIUM:+LOW

    SSLCertificateKeyFile    /etc/pki/tls/private/islandora-admin.key
    SSLCertificateChainFile  /etc/pki/tls/certs/islandora-admin_flvc_org_interm.cer
    SSLCertificateFile       /etc/pki/tls/certs/islandora-admin_flvc_org_cert.cer

    BrowserMatch "MSIE [2-5]" nokeepalive ssl-unclean-shutdown downgrade-1.0 force-response-1.0

    CustomLog logs/SHORTNAME_UNDERSCORED_admin_ssl_log "%t %h %{SSL_PROTOCOL}x %{SSL_CIPHER}x \"%r\" %b"
</VirtualHost>
