environment: production
chdir: /usr/local/islandora/offline-ingest/web-report/
address: 127.0.0.1
user: apache
group: dldev
port: PORTA
pid: /var/run/thin/SHORTNAME.admin.pid
rackup: /usr/local/islandora/offline-ingest/web-report/config.ru
log: /var/log/httpd/SHORTNAME.admin.log
max_conns: 64
timeout: 30
max_persistent_conns: 32
daemonize: true
