!!! 5
%html{ :lang => "en" }

  %head

    %meta{ :charset => "utf-8" }
    %link{ :rel => "stylesheet", :href => "/std.css",  :type => "text/css"  }
    %link{ :rel => "shortcut icon",  :href => "/favicon.ico" }

    %title Placeholder Page

  %body

    %h1 Placeholder Page

    When we haver more than /packages to link to, we'll make this a
    portal page.  Until then, we're just redirecting directly to /packages
    in app.rb.


    - ENV.keys.sort.each do |k|
      %br
      #{k} => #{ENV[k].inspect}
